.menuSection {
    padding-left: 28rem;
    padding-right: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    height: calc(100vh - 7rem);
    width: 100%;
    position: relative;
    background-color: rgba(17, 24, 33, .98);
    color: #fff;
}

.menuSection h3 {
    font-weight: normal;
    font-size: medium;
}

.menuSection h2 {
    font-size: x-large;
}

.menuCategories {
    padding-top: 1rem;
}

.menuCategories button {
    border: 1px solid orange;
    background-color: transparent;
    border-radius: 2rem;
    width: 12rem;
    height: 4rem;
    margin: 1rem;
    font-size: large;
    font-weight: normal;
    cursor: pointer;
}

.menuCategories button.active {
    color: #fff;
    background: linear-gradient(135deg,orange 50%, rgb(255, 230, 0));
    border: 1px solid transparent;
}

.menuDisplay {
    width: 100%;
}

.menuDisplay p:first-child {
    text-align: right;
    font-size: large;
}

.menuItem {
    padding-top: 3rem;
}

.menuItem div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuItem h3 {
    font-size: x-large;
}

.menuItem div p {
    font-size: large;
}

.menuItem p {
    font-size: medium;
}

.addinionalInformation {
    position: absolute;
    bottom: 1.5rem;
    font-size: small;
}