.navbar {
    background-color: #111821;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 28rem;
    padding-right: 28rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: transform 0.3s ease-in-out;
}

.navbar.visible {
    transform: translateY(0);
}

.navbar.hidden {
    transform: translateY(-100%);
}

ul {
    list-style: none;
    display: flex;
}

.logo {
    font-size: x-large;
    cursor: pointer;
}

.navList li {
    font-size: large;
    padding: 1.5rem;
    cursor: pointer;
}

.navIcons {
    font-size: large;
}

.navIcons li {
    width: 3.5rem;
    height: 3.5rem;
    border: .15rem  solid orange;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    margin: .7rem;
    cursor: pointer;
    color: orange;
}

svg {
    color: #111821;
    background-image: linear-gradient(135deg,orange 30%, rgb(248, 195, 18))
}