.navbar {
    background-color: #111821;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: transform 0.3s ease-in-out;
}

.navbar.visible {
    transform: translateY(0);
}

.navbar.hidden {
    transform: translateY(-100%);
}

ul {
    list-style: none;
    display: flex;
}

.logo {
    font-size: x-large;
    cursor: pointer;
}

.navList li {
    font-size: large;
    padding: 1.5rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.navList li:hover {
    scale: 1.05;
}

.navIcons {
    font-size: large;
}

.navIcons li {
    width: 3.5rem;
    height: 3.5rem;
    border: .15rem  solid orange;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    cursor: pointer;
    color: orange;
}

@keyframes phoneRing {
    0% {rotate: 15deg;}
    20% {rotate: -15deg;}
    40% {rotate: 15deg;}
    60% {rotate: -15deg;}
    80% {rotate: 15deg;}
    100% {rotate: -15deg;}
}

svg {
    color: #111821;
    background-image: linear-gradient(135deg,orange 30%, rgb(248, 195, 18));
    rotate: 0;
    outline: none;
    border: 1px solid #111821;
}

.navIcons li:hover {
    animation-name: phoneRing;
    animation-duration: .5s;
    outline: none;
}


@media (max-width: 1400px) {

}

@media (max-width: 1024px) {
    .navbar {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (max-width: 640px) {
    .navbar {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}