.special {
    background-color: rgba(17, 24, 33);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.special h2 {
    font-size: xx-large;
    padding-bottom: 1rem;
}

.special p {
    font-size: large;
    width: 100%;
}

.ofertsWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 4rem;
}

.ofertWraper {
    background: #fff;
    width: 35rem;
    height: 40rem;
    margin-right: 2rem;
    margin-left: 2rem;
    border-radius: 5%;
}

.ofertWraper:nth-of-type(2) {
    scale: 1.1;
}

@media (max-width: 640px) {
    .special h2 {
        font-size: x-large;
    }

    .special p {
        font-size: small;
    }
}
