.slideSection {
    background-color: rgba(17, 24, 33);
    min-height: calc(100vh - 7rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
}

.carouselWrapper{
    height: 120rem;
    width: 120rem;
    background-image: url(/public/images/wooden-bg-v3.png);
    background-size: 120rem;
    background-position: center;
    position: absolute;
    top: -90rem;
    border-radius: 100%;
}

.carousel {
    height: 120rem;
    width: 120rem;
    border: 7rem solid transparent;
    border-radius: 100%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
}

.slide {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.5s;
}

.slide:nth-child(1) {
    bottom: -18rem;
}

.slide:nth-child(2) {
    left: 0;
    bottom: 0;
}

.slide:nth-child(3) {
    left: -18rem;
}

.slide:nth-child(4) {
    left: 0;
    top: 0;
}

.slide:nth-child(5) {
    top: -18rem;
}

.slide:nth-child(6) {
    right: 0;
    top: 0;
}

.slide:nth-child(7) {
    right: -18rem;
}

.slide:nth-child(8) {
    right: 0;
    bottom: 0;
}

.slide img {
    width: 100%;
}

.slide.active {
    transform: scale(2);
    transition: transform 0.5s 0.5s;
    z-index: 10;
}

.controls {
    position: relative;
    bottom: 5rem;
    display: flex;
    justify-content: space-between;
    padding-top: 60rem;
}

.controls a {
    padding: 1rem;
    border-radius: 10rem;
    width: 17rem;
    height: 17rem;
    transition: background-color 1s;
}

.controls img {
    width: 15rem;
    height: 15rem;
    border-radius: 10rem;
}

.controls .buttonText {
    display: none;
}

.controls a.active {
    background: linear-gradient(135deg,orange,  rgb(253, 202, 34));
}

.pizzaDesc {
    position: absolute;
    bottom: 30rem;
    left: 28rem;
}

.pizzaDesc h3 {
    font-size: xx-large;
}

.pizzaDesc p {
    font-size: large;
    color: #fff;
}


@media (max-width: 1400px) {
    .controls a {
        width: 15rem;
        height: 15rem;
    }

    .controls img {
        width: 13rem;
        height: 13rem;
    }

    .carouselWrapper{
        height: 110rem;
        width: 110rem;
        top: -85rem;
    }
    
    .carousel {
        height: 110rem;
        width: 110rem;
    }    

    .slide {
        width: 19rem;
        height: 19rem;
    }
}

@media (max-width: 1280px) {
    .carouselWrapper{
        height: 100rem;
        width: 100rem;
        top: -65rem;
    }
    
    .carousel {
        height: 100rem;
        width: 100rem;
    }   
    
    .slide {
        width: 18rem;
        height: 18rem;
    }
}




@media (max-width: 1024px) {
    .carouselWrapper{
        height: 85rem;
        width: 85rem;
        top: -65rem;
    }
    
    .carousel {
        height: 85rem;
        width: 85rem;
    }   
    
    .slide {
        width: 14rem;
        height: 14rem;
    }

    .slide:nth-child(1) {
        bottom: -19rem;
    }
    
    .slide:nth-child(2) {
        left: -5rem;
        bottom: -5rem;
    }
    
    .slide:nth-child(3) {
        left: -19rem;
    }
    
    .slide:nth-child(4) {
        left: -5rem;
        top: -5rem;
    }
    
    .slide:nth-child(5) {
        top: -19rem;
    }
    
    .slide:nth-child(6) {
        right: -5rem;
        top: -5rem;
    }
    
    .slide:nth-child(7) {
        right: -19rem;
    }
    
    .slide:nth-child(8) {
        right: -5rem;
        bottom: -5rem;
    }

    .controls {
        flex-wrap: wrap;
        padding-top: 60rem;
        justify-content: center;
    }
    
    .controls a {
        width: 15rem;
        height: 15rem;
    }
    
    .controls img {
        width: 13rem;
        height: 13rem;
    }

    .pizzaDesc {
        top: 45rem;
        left: auto;
    }
}

@media (max-width: 768px) {
    .carouselWrapper{
        height: 70rem;
        width: 70rem;
        top: -52rem;
    }
    
    .carousel {
        height: 70rem;
        width: 70rem;
    }   
    
    .slide {
        width: 12rem;
        height: 12rem;
    }

    .slide:nth-child(1) {
        bottom: -17rem;
    }
    
    .slide:nth-child(2) {
        left: -5rem;
        bottom: -5rem;
    }
    
    .slide:nth-child(3) {
        left: -17rem;
    }
    
    .slide:nth-child(4) {
        left: -5rem;
        top: -5rem;
    }
    
    .slide:nth-child(5) {
        top: -17rem;
    }
    
    .slide:nth-child(6) {
        right: -5rem;
        top: -5rem;
    }
    
    .slide:nth-child(7) {
        right: -17rem;
    }
    
    .slide:nth-child(8) {
        right: -5rem;
        bottom: -5rem;
    }

    .controls {
        position: static;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 22rem;
    }
    
    .controls a {
        margin: .5rem;
        width: 48%;
        height: 5rem;
        background-color: #fff;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 4.5rem;
    }
    
    .controls img {
        width: 4.5rem;
        height: 4.5rem;
        position: absolute;
        top: .25rem;
        left: .25rem;
    }

    .controls .buttonText {
        display: block;
        font-size: large;
    }

    .pizzaDesc h3 {
        display: none;
    }

    .pizzaDesc {
        top: 37rem;
        left: auto;
        bottom: 0;
        height: fit-content;
    }

    .pizzaDesc p {
        text-align: center;
        font-size: large;
    }

}

@media (max-width: 640px) {
    .carouselWrapper{
        height: 50rem;
        width: 50rem;
        top: -38rem;
    }
    
    .carousel {
        height: 50rem;
        width: 50rem;
    }   
    
    .slide {
        width: 10rem;
        height: 10rem;
    }

    .slide:nth-child(1) {
        bottom: -14rem;
    }
    
    .slide:nth-child(2) {
        left: -6rem;
        bottom: -6rem;
    }
    
    .slide:nth-child(3) {
        left: -14rem;
    }
    
    .slide:nth-child(4) {
        left: -6rem;
        top: -6rem;
    }
    
    .slide:nth-child(5) {
        top: -14rem;
    }
    
    .slide:nth-child(6) {
        right: -6rem;
        top: -6rem;
    }
    
    .slide:nth-child(7) {
        right: -14rem;
    }
    
    .slide:nth-child(8) {
        right: -6rem;
        bottom: -6rem;
    }

    .controls {
        padding-top: 22rem;
    }

    .controls a {
        width: 100%;
    }

    .pizzaDesc {
        top: 25rem;
    }

    .pizzaDesc p {
        font-size: medium;
    }
}