.slideSection {
    background-color: rgba(17, 24, 33);
    height: calc(100vh - 7rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    padding-left: 28rem;
    padding-right: 28rem;
    position: relative;
}

.carousel {
    height: 120rem;
    width: 120rem;
    border: 7rem solid rgb(255, 166, 57);
    border-radius: 100%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 1s;
    top: -70rem;
}

.slide {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.5s;
}

.slide:nth-child(1) {
    bottom: -18rem;
}

.slide:nth-child(2) {
    left: 0;
    bottom: 0;
}

.slide:nth-child(3) {
    left: -18rem;
}

.slide:nth-child(4) {
    left: 0;
    top: 0;
}

.slide:nth-child(5) {
    top: -18rem;
}

.slide:nth-child(6) {
    right: 0;
    top: 0;
}

.slide:nth-child(7) {
    right: -18rem;
}

.slide:nth-child(8) {
    right: 0;
    bottom: 0;
}

.slide img {
    width: 100%;
}

.slide.active {
    transform: scale(2);
    transition: transform 0.5s 0.5s;
    z-index: 10;
}

.controls {
    position: sticky;
    bottom: 5rem;
    display: flex;
    justify-content: space-between;
}

.controls a {
    padding: 1rem;
    border-radius: 10rem;
    width: 17rem;
    height: 17rem;
    transition: background-color 1s;
}

.controls img {
    width: 15rem;
    height: 15rem;
    border-radius: 10rem;
}

.controls a.active {
    background-color: rgb(255, 166, 57);
}

.pizzaDesc {
    position: absolute;
    bottom: 30rem;
    left: 28rem;
}

.pizzaDesc h3 {
    font-size: xx-large;
    color: orange;
}

.pizzaDesc p {
    font-size: large;
    color: #fff;
}