.sideBarContainer {
    height: 100vh;
    background-color: #111821;
    position: fixed;
    top: 0;
    right: 0;
    width: 100rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    transition: transform 0.3s ease-in-out;
    padding-top: 7rem;
    color: #fff;
    z-index: 10;
}

.sideBarContainer.visible {
    transform: translateX(0);
}

.sideBarContainer.hidden {
    transform: translateX(100%);
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact h1 {
    font-size: xx-large;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.contact ul {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    font-size: large;
}

.contact h2, .contact h3 {
    font-size: x-large;
    padding-bottom: 2rem;
    text-align: center;
}

.contact li {
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.contact p {
    font-size: large;
}

@media (max-width: 1024px) {
    .sideBarContainer {
        width: 100%;
        padding-left: 15rem;
        padding-right: 15rem;
    }

    .contact h1 {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .sideBarContainer {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .contact {
        align-items: normal;
    }
}

@media (max-width: 640px) {
    .sideBarContainer {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .contact h1 {
        font-size: x-large;
    }
    
    .contact p {
        font-size: medium;
    }

    .contact h2, .contact h3  {
        font-size: large;
    }

    .contact ul {
        font-size: medium;
    }
}