* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

body{
    padding-top:  7rem;
    overflow-x: hidden;
}

.gradientText {
    background: -webkit-linear-gradient(45deg,orange,rgb(253, 202, 34));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr {
    height: 18rem;
    width: 100%;
    background-image: url(/public/images/wooden-bg-v3.png);
    background-size:110% 100%;
    outline: none;
    border: none;
}

.scrollDisabled {
    height: calc(100vh -  7rem);
    overflow: hidden;
}

section {
    padding-left: 28rem;
    padding-right: 28rem;
}

@media (max-width: 1400px) {
    section {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    hr {
        height: 14rem;
    }
}

@media (max-width: 1024px) {
    section {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    hr {
        height: 11rem;
    }
}


@media (max-width: 768px) {
    hr {
        height: 8rem;
    }
}

@media (max-width: 640px) {
    section {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    hr {
        height: 5rem;
    }
}