* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

body{
    padding-top:  7rem;
}

.gradientText {
    background: -webkit-linear-gradient(45deg,orange, rgb(255, 230, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}